@model DoAnWebBanDongHo.Models.THUONGHIEU

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>CHI TIẾT THƯƠNG HIỆU</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên thương hiệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENTH)
        </dd>

        <dt>
            Hình thương hiệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HINHTH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MATH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
