<!DOCTYPE HTML>
<html>
<head>
    <title>Watches an E-Commerce online Shopping Category Flat Bootstrap Responsive Website Template| Men :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/component.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Content/js/jquery-1.11.1.min.js"></script>
    <!-- start menu -->
    <link href="~/Content/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/js/megamenu.js"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    <script src="~/Content/js/jquery.easydropdown.js"></script>
    <script src="~/Content/js/simpleCart.min.js"></script>
</head>
<div class="men">
    <div class="container">
        <div class="col-md-4 sidebar_men">
            <h3>Thương Hiệu</h3>
            <ul class="product-categories color">
                <li class="cat-item cat-item-42"><a href="/Sanpham/THTissot">Tissot</a> <span class="count">(14)</span></li>
                <li class="cat-item cat-item-60"><a href="/Sanpham/THFrederiqueConstant">Frederique Constant</a> <span class="count">(2)</span></li>
                <li class="cat-item cat-item-63"><a href="/Sanpham/THCalvinKlein">Calvin Klein</a> <span class="count">(2)</span></li>
                <li class="cat-item cat-item-54"><a href="#">Jeans</a> <span class="count">(8)</span></li>
                <li class="cat-item cat-item-55"><a href="#">Shoes</a> <span class="count">(11)</span></li>
                <li class="cat-item cat-item-64"><a href="#">Shorts</a> <span class="count">(3)</span></li>
                <li class="cat-item cat-item-61"><a href="#">Skirts</a> <span class="count">(3)</span></li>
                <li class="cat-item cat-item-56"><a href="#">Sweaters</a> <span class="count">(6)</span></li>
                <li class="cat-item cat-item-57"><a href="#">T-Shirts</a> <span class="count">(13)</span></li>
                <li class="cat-item cat-item-58"><a href="#">Tops</a> <span class="count">(7)</span></li>
                <li class="cat-item cat-item-62"><a href="#">Watchers</a> <span class="count">(2)</span></li>
                <li class="cat-item cat-item-41"><a href="#">Women</a> <span class="count">(17)</span></li>
            </ul>
            <h3>Màu sắc</h3>
            <ul class="product-categories color">
                <li class="cat-item cat-item-42"><a href="#">Xanh</a> <span class="count">(14)</span></li>
                <li class="cat-item cat-item-60"><a href="#">Vàng</a> <span class="count">(2)</span></li>
                <li class="cat-item cat-item-63"><a href="#">Đỏ</a> <span class="count">(2)</span></li>
                <li class="cat-item cat-item-54"><a href="#">Bạc</a> <span class="count">(8)</span></li>
                <li class="cat-item cat-item-55"><a href="#">Hồng</a> <span class="count">(11)</span></li>
            </ul>
            <h3>Kích cỡ</h3>
            <ul class="product-categories color">
                <li class="cat-item cat-item-42"><a href="#">L</a> <span class="count">(14)</span></li>
                <li class="cat-item cat-item-60"><a href="#">M</a> <span class="count">(2)</span></li>
                <li class="cat-item cat-item-63"><a href="#">S</a> <span class="count">(2)</span></li>
                <li class="cat-item cat-item-54"><a href="#">XL</a> <span class="count">(8)</span></li>
                <li class="cat-item cat-item-55"><a href="#">XS</a> <span class="count">(11)</span></li>
            </ul>
            <h3>Giá</h3>
            <ul class="product-categories">
                <li class="cat-item cat-item-42"><a href="#">200k-300k</a> <span class="count">(14)</span></li>
                <li class="cat-item cat-item-60"><a href="#">3000k-4000k</a> <span class="count">(2)</span></li>
                <li class="cat-item cat-item-63"><a href="#">4000k-5000k</a> <span class="count">(2)</span></li>
                <li class="cat-item cat-item-54"><a href="#">5000k-6000k</a> <span class="count">(8)</span></li>
                <li class="cat-item cat-item-55"><a href="#">6000k-7000k</a> <span class="count">(11)</span></li>
            </ul>
        </div>
        <div class="col-md-8 mens_right">
            <div class="dreamcrub">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="/Home/Index" title="Về trang chính">Home</a>&nbsp;
                        <span>&gt;</span>
                    </li>
                    <li class="home">
                        &nbsp;
                        Nam / Nữ&nbsp;
                    </li>
                </ul>
                <ul class="previous">
                    <li><a href="/Home/Index">Quay lại trang trước</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="mens-toolbar">
                <div class="sort">
                    <div class="sort-by">
                        <label>Sort By</label>
                        <select>
                            <option value="">
                                Vị trí
                            </option>
                            <option value="">
                                Tên
                            </option>
                            <option value="">
                                Giá
                            </option>
                        </select>
                        <a href=""><img src="~/Content/Images/arrow2.gif" alt="" class="v-middle"></a>
                    </div>
                </div>
                <ul class="women_pagenation dc_paginationA dc_paginationA06">
                    <li><a href="#" class="previous">Trang : </a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
          
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 col-sm-6">
                        <a href="@Url.Action("XemChiTiet", new { @Masp = item.MASP })">
                            <img src="~/Content/Images/@Url.Content(item.HINH)" class="img-responsive zoom-img" alt="" width="400" height="400" />
                        </a>
                        <center>
                            <h3>@item.TENSP</h3>
                            <h3 style="color:red">Giá: @item.DONGIA</h3>
                            <br />
                           
                            
                        </center>
                    </div>
                }
            </div>

            <script src="~/Content/js/cbpViewModeSwitch.js" type="text/javascript"></script>
            <script src="~/Content/js/classie.js" type="text/javascript"></script>
        </div>
    </div>
</div>
</body>
</html>

